<html>
<body>

<h1>WELCOME TO THE DRINKS</h1>
<h2>MENU</h2>
<style>

table,th,td{border:1px solid black;
border-collapse:collapse;
background-color:lightpink;
}

footer{
border:1px solid black;
border-collapse:collapse;
background-color:lightgreen;

}
th,td{
padding:17px
}

</ul>
footer{
border:1px solid black;
border-collapse:collapse;
background-color:light blue;
}

</style>
</head>

<body>
</style>
</head>
<body>

<table style="width:100%">
  <tr>
    <th>S.NO</th>
    <th>ITEM NAME</th>
    <th>PRICE</th>
  </tr>
  <tr>
    <td>01</td>
    <td>COCO COLA</td>
    <td>2.00$</td>
  </tr>
  <tr>
    <td>02</td>
    <td>PEPSI</td>
    <td>1.75$</td>
  </tr>
  <tr>
    <td>03</td>
    <td>SPRITE</td>
    <td>2.10$</td>   
  </tr>
  <tr>
    <td>04</td>
    <td>APPLE JUICE</td>
    <td>6.00$</td>
   </tr>
   <tr>
     <td>05</td>
     <td>MANGO JUICE</td>
     <td>4.00$</td>
     </tr>
     </tr>
  <tr>
    <td>06</td>
    <td>lemon juice</td>
    <td>3.00$</td>
  </tr>
  <tr>
    <td>07</td>
    <td>carona</td>
    <td>2.00$</td>   
  </tr>
  <tr>
    <td>08</td>
    <td>BUDWISER</td>
    <td>3.00$</td>
   </tr>
   <tr>
     <td>09</td>
     <td>KINGFISHER</td>
     <td>4.00$</td>
     </tr>
   
</table>
<br>
<br>
<br>

<footer style= "text"-align:center"> THANK YOU
</footer>
</body>
</html>
