<html>
<head>
<style>
div.topnav {
background-color : lightblue;

}
div.topnav  a{ font-size:30px; display:inline-block;  padding:30x 100px 0 30px;
               padding:10px; float:right;
 }

div.topnav ul {font-size:30px }


table {
    width:100%;
    border :collapse;
    }


table,th,td {
      
    border :1px solid black;

}
th,td {
    padding :10px;
         font-size:1em;
        text-align:center;}

footer{ background-color : lightgreen;
        padding:3px;
        text-align: center;
        font-size:2em;
        font-style:italic;}
div{
background-color: lightblue;
padding :10px;
}
input[type=text] {
background-color: lightpink;
 width: 30%;
color:white;
       }
button{ width:60px;}
nav{padding:30px;}
    
</style>

</head>
<body>
<div class="topnav" >
<ul>  </u1>
      
       <a href="/index"  title="Home"> Home </a>
       
</div>

         <tr>
            <td colspan="6" style="height:500px align:center">
            <div id="soups" align="center">
                        <h1>QUICK-BITES</h1>
                        <br/>
                        <b>MASALA FRIES     3.95</b><br/>
                        <i>Spice coated potato stripes</i>
                        <br/><br/>
                        <b>ALOO PAPRI CHAAT     5.95</b><br/>
                        <i>Whole flour crisp savories served with chick peas, diced potatoes, yogurt and spices, topped with tamarind sauce and chopped coriander</i><br/>
                        <br/>
                        <b>FRESH FRUIT CHAAT     7.50</b><br/>
                        <i>Diced mix of seasonal fresh fruits tossed with a special tangy blend of spices and lemon juice<br/></i>
                        <br/>
                        <b>BHEL PURI CHAAT     5.95</b><br/>
                        <i>A mix of crispy rice and lentil flour savories tossed with chopped onions, tomatoes, green chilies, mint & tamarind sauce topped with chopped coriander</i>
                        <br/><br/>
                        <b>SEV BATATA POORI            5.95</b><br/>
                        <i>Whole flour puff filled with chopped onions, tomatoes, green chilies and sev</i>
                        <br/><br/>
                        <b>DAHI BATATA POORI      5.95</b><br/>
                        <i>Whole flour puff filled with yogurt, chopped onions, tomatoes, green chilies and sev</i>
                        <br/><br/>
                        <b>PANI POORI      5.95</b><br/>
                        <i>Whole wheat flour bite size shells filled with spiced lentils and tamarind water</i>
                        <br/><br/>
                        <b>KASHMIRI ALOO TIKKI         5.95</b><br/>
                        <i>Mashed and seasoned potato medallions filled with nuts and raisins served with mint & tamarind sauces</i>
                        <br/><br/>
                        <b>MOONG DAL PAKORI       5.50</b><br/>
                        <i>Lentil flour dumplings served with shredded radish & topped with mint sauce</i>
                        <br/><br/>
                        <b>DAHI BHALLA              5.95</b><br/>
                        <i>Lentil dumpliings filled with nuts & raisins served with yogurt, spices, mint & tamarind sauces</i>
                        <br/><br/>
                        <b>MOONG DAL KACHORI (2 pcs)       5.50</b><br/>
                        <i>Whole flour puffs filled with roasted lentils</i>
                        <br/><br/>
                        <b>PIYAZ KACHORI (2pcs)         5.50 </b><br/>
                        <i>Whole flour puffs filled with sautéed onions    </i>
                        <br/><br/>
                        <b>WADA PAO (2pcs)     6.95</b><br/>
                        <i>Seasoned and batter fried patato dumplings served with our Chef's special spicy saucer</i>
                        <br/><br/>
                        <b>SHAHI SAMOSA (2 pcs)     5.50</b><br/>
                        <i>Jumbo samosa filled with diced patatoes, peas, spices, nuts & raisins</i>
                        <br/><br/>
                        <b>RAJ KACHORI CHAAT     6.50</b><br/>
                        <i>Whole flour puffs filled with spiced lentils, served with yogurt, mint & tamarind sauces</i>
                        <br/><br/>
                        <b>MIXED VEGETABLE PAKORA     6.50</b><br/>
                        <i>Crispy golden fried vegetable fritters     </i>
                        <br/><br/>
                        <b>ALOO LACHCHA TOKRI     6.50</b><br/>
                        <i>A mix of lentils and chick peas topped with yogurt, spices, mint & tamarind sauce served in a crispy fried potato basket</i>
                        <br/><br/>
                        <b>ALOO TIKKI CHAAT     6.95</b><br/>
                        <i>Mashed and seasoned shallow fried potato medallions served with spiced chick peas, chopped onions, tomatoes, green chilies, topped with mint & tamarind sauces</i>
                        <br/><br/>
                        <b>SAMOSA CHANNA CHAAT     6.95</b><br/>
                        <i>Samosa filled with diced potatoes and peas served with spiced chick peas, chopped onions, tomatoes, green chilies, mint & tamarind sauces</i>
                        <br/><br/>





</body>
<footer>
<h2> Thank you  </h2>
</footer>

</html>
